force-app/main/default/flows/create_visit_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Tasks_from_JSON_Action_1</name>
        <label>Create Tasks from JSON Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AgentTaskCreator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>rawAgentResponse</name>
            <value>
                <elementReference>visit_note_action.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgentTaskCreator</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>parse_json_inout</name>
        <label>parse json inout</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AgentTaskParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>create_Visit</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonInputs</name>
            <value>
                <elementReference>visit_note_action.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgentTaskParser</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>visit_note_action</name>
        <label>visit note action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Summarize_Visit_Notes</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>parse_json_inout</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:var_AccountId</name>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Raw_Dictation</name>
            <value>
                <elementReference>var_RawNotes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Summarize_Visit_Notes</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <description>create visit record when user dictate notes</description>
    <environments>Default</environments>
    <formulas>
        <name>eventendtime</name>
        <dataType>DateTime</dataType>
        <expression>{!varscheduledStartTime} + (1/24)</expression>
    </formulas>
    <formulas>
        <name>fx_ParseDate</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE({!visit_note_action.promptResponse})</expression>
    </formulas>
    <interviewLabel>summarize {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create visit record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_appointment</name>
        <label>create appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>create_event</targetReference>
        </connector>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>varduedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>varscheduledStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_event</name>
        <label>create event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Tasks_from_JSON_Action_1</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>eventendtime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>varscheduledStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>create visit record when user dictate the notes</description>
        <name>create_Visit</name>
        <label>create Visit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>create_appointment</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>parse_json_inout.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>visit_note_action.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlaceId</field>
            <value>
                <stringValue>131ak000000hgvFAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlannedVisitStartTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>visit_note_action</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>demovar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordtaskvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskrecordvarCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Account Id</description>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>take visit notes from sales rep</description>
        <name>var_RawNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varduedate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varscheduledStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
